<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>게시글 생성</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <div style="margin-top: 30px; width:50%" class="container-md text-center">
        <h2 class="p-3 mb-2 bg-info text-dark" style="margin-bottom: 20px">게시글 생성</h2>
        <form th:action="@{/forum/posts/create}" th:object="${dto}" method="post">
            <div class="mb-3">
                <select class="form-select" th:field="*{boardId}">
                    <option value="none" selected>게시판 선택</option>
                    <option
                            th:each="board: ${boardList}"
                            th:value="${board.id}"
                            th:text="${board.topic}">
                    </option>
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label" for="title">게시글 제목</label>
                <input class="form-control" id="title" type="text" th:field="*{title}" placeholder="게시글 제목 입력" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="content">게시글 내용</label>
                <input class="form-control" id="content" type="text" th:field="*{content}" placeholder="내용" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="createdAt">발행일자</label>
                <input class="form-control" id="createdAt" type="date" th:field="*{createdAt}" required>
            </div>
            <button class="btn btn-outline-primary" type="submit">게시글 생성!</button>
            <button class="btn btn-outline-warning" type="button" onclick="window.history.back();">취소하기</button>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>