<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8" />

<head>
    <meta charset="UTF-8">
    <title>게시판 생성</title>
</head>
<body>
    <div>
        <h2>게시판 생성</h2>
        <form th:action="@{/forum/createBoard}" method="post">
            <div>
                <input type="text" name="topic" placeholder="게시판 주제 입력" required>
            </div>
            <div>
                <input type="text" name="boardDescription" placeholder="게시판 상세 정보" required>
            </div>
            <button type="submit">게시판 생성!</button>
            <button type="button" onclick="window.history.back();">취소하기</button>
        </form>
    </div>
</body>
</html>