<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8"/>

<head>
    <meta charset="UTF-8">
    <title>게시글 보기</title>
</head>
<body>

    <div class="header">
        <h1 th:text="|${board.topic} 게시판입니다!|"></h1>
    </div>

    <table>
        <thead>
        <tr>
            <th>게시글</th>
            <th>생성일자</th>
            <th>생성자 only</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="post: ${posts.content}">
            <td>
                <a th:href="@{/forum/{boardId}/posts/{postId} (boardId=${post.boardEntity.id}, postId=${post.id})}"
                   th:text="${post.title}"></a>
            </td>
            <td>
                <span th:text="${post.createdAt}"></span>
            </td>
            <td>
                <form action="#" th:action="@{'/forum/{boardId}/posts/{postId}/delete'
        (boardId=${post.boardEntity.id}, postId=${post.id})}" th:method="delete">
                    <input type="hidden" name="_method" value="delete">
                    <button type="submit">
                        삭제
                    </button>
                </form>
                <a th:href="@{'/forum/{boardId}/posts/{postId}/update'( boardId=${board.id}, postId=${post.id} )}"><button>수정</button></a>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="body">
        <ul class="post-pagination">
            <li class="post-item"
                th:each="i : ${#numbers.sequence(0, posts.totalPages - 1)}"
                th:classappend="${i == posts.number ? 'active' : ''}">
                <a th:href="@{/forum/{boardId}/posts(page=${i}, size=${posts.size}, boardId=${board.id})}" th:text="${i + 1}"></a>
            </li>
        </ul>
    </div>

    <div>
        <a th:href="@{'/forum/{boardId}/posts/create'(boardId=${board.id})}">
            <button>생성</button>
        </a>
    </div>

</body>
</html>